# It's necessary that the config file are updated on the 
# /home/USER/.config/terminator/config

[Desktop Entry]
Type=Application
Name=Terminator
Exec=terminator -bf -l pveronezi -p pveronezi
Comment=start terminator
